/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/typeahead
 */

form input .event-search{
	width: 100px;
}

form span .tt-hint{
	width: 94%;
	border-radius: 15px;
}

#map_div {
	width: 100%;
	height: 100%;
	min-height: 575px
}

#event_entry_fee {
	width: 30px;
}

form span .tt-is-open {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: black;
  border-radius: 5px;
  width: 98%;
  color: white;
  margin-top: 2px;
  margin-left: 2px;
  /* TODO: need default z-index, should be configurable */
  opacity: .7;
  display: none;
}

form span .tt-is-open p {
	margin-left: 15px;
	margin-top: 10px;
}

.preview {
  display: block;
}

body {
	background-image:url('http://www.wallm.com/images/2012/12/linkworxseo-web-background-paper-black-templates-generic2.jpg') ;

  background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

form select {
	width: 100px;
}

.leaflet-popup-content {
	color: black;
	text-shadow: none;
}

#bro-search-form {
	margin-top: 2px;
}

.content {
	min-height: 600px;
}

#user_fraternity_id {
	width: 200px;
}

.container .well {
	color: white;
	text-shadow: 1px 1px black;
	margin-top: 50px;
  border: 0px;
  background: grey;
}

